<div class="main shops-index">
<div class="container">
<main>
<div class="wrapper">
<h1 class="sec-title">店舗一覧</h1>
<section id="news" class="wrapper">
<div>
<% @shops.each do |shop| %>
<tr><td><p>□<%= link_to(shop.name,"/shops/#{shop.id}") %><br></td>
<td><%= shop.access %></td></p>
</tr>
  <%= form_tag(shop_favorites_shop_path(shop.id)) do %>
    <input type="hidden" name="shop_id" value="#{shop.id}">
    <input type="submit" value="検討">
    <% end %>
<% end %>
    </div>
   </div>
  </div>
 </main>
</div>
</section>