<div class="main shops-index">
<div class="container">
<main>
<div class="wrapper">
<h1 class="sec-title">店舗一覧</h1>
<section id="news" class="wrapper">
<table>
<% @shops.each do |shop| %>
<tr>
<td><%= image_tag shop.shop_photo,width: "90px", height: "70px"  %></td>
<td style="text-align :center;"><%= link_to(shop.name,"/shops/#{shop.id}") %></td>
<td><%= shop.access %></td>
  <td><%= form_tag(shop_favorites_shop_path(shop.id)) do %>
    <input type="hidden" name="shop_id" value="#{shop.id}">
    <input type="submit" value="検討">
    <% end %></td>
     <% end %>
    </tr>
</table>
</div>
</section>
   </div>
  </div>
 </main>