<div class="main posts-show">
<div class="container">
<h1 class="sec-title">My検討リスト</h1>
<section id="news" class="wrapper">
<table>
<% @favorites.each do |favorite| %>
<tr>
<td><%= image_tag favorite.shop.shop_photo,width: "200px", height: "120px"  %></td>
<td style="text-align :center;"><%= favorite.shop.name %></td>
   <% end %>
  </tr>
  </table>
 </div>
</div>
