/*= require_self　
 *= require_tree
 */

 * {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}



input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body {
  color: #0f0f0f;
  background-color: #b8c2c5;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 70px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #ffffff;
}

.container {
  max-width: 700px;
  margin: 70px auto;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
}

/* ヘッダー ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 45px;
  color: rgba(249, 248, 248, 0.946);
  font-size: 30px;
  line-height: 60px;
}

.header-logo a {
  color: white;
  font-size: 30px;
}

.header-menus {
  float: right;
  padding-right: 40px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 25px;
  color: rgb(17, 12, 12);
  padding-left: 20px;
}

.header-menus a {
  float: left;
  font-size: 17px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}


/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #71a2b1;
}


.form-body {
  padding: 20px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #b8c2c5;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: center;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: rgb(104, 98, 98);
  background: #236363(88, 221, 251);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 20;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 15px;
}