@charset "UTF-8";

html {
  font-size: 100%;
  text-align: center;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 50px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.sec-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}




#news div {
  border-top: solid 1px #c8c8c8;
  margin: 0 auto;
  width: 70%;
}

#news p {
  border-bottom: solid 1px #c8c8c8;
  padding: 5px 0px 15px 0px;
}

#category table {
  margin: 0 auto;
}

#category button {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0px;
  margin: 20px 20px;
  border: solid 1px #24292e;
}

#category button :hover {
  background: #fff;
  color: #24292e;
}