.posts-heading{
    font-family: Arial;
    font-size: 40px;
}

h2,h3 {
    font-family: Arial;
    font-size: 25px
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


.post_shop_name{
    font-size: 20px;
}

.users-heading{
    font-family: Arial;
    font-size: 45px;
}

h4 {
    font-family: Arial;
    font-size: 30px
}

.category {
    width: 30em;
    height:10em;
}
